{% extends 'base.html' %} {% block content %}
<h1>This is the Homepage</h1>
<h2>Go To Puppy name</h2>
<p class="lead">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente itaque
  fugit asperiores a laboriosam omnis facilis quia officia cumque tempore nisi
</p>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente itaque
  fugit asperiores a laboriosam omnis facilis quia officia cumque tempore nisi
  nihil quaerat tempora temporibus perferendis quasi alias, quidem veniam ullam
  culpa! Magnam enim est reprehenderit explicabo ad ut numquam perferendis quo
  tempore. Saepe dolore tenetur, ab eum minus sapiente alias similique quam
  pariatur, expedita culpa aliquid eligendi officiis quo atque quae libero est
  quasi! Autem libero praesentium, voluptates inventore maiores tempora deserunt
  culpa saepe quod a distinctio, dignissimos temporibus obcaecati voluptatum,
  harum ipsum rerum explicabo voluptate consequuntur perferendis atque incidunt
  quos labore. Praesentium nostrum nisi labore officiis enim? Aut!
</p>
{% endblock %}
